<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.alex.assignment5"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/LargeScaleApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="Log In" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:label="Sign Up"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alex.assignment5.MainActivity" />
        </activity>

        <activity
            android:name=".MainMenuActivity"
            android:label="Main Menu"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alex.assignment5.MainActivity" />
        </activity>

        <activity
            android:name=".CreateBuildingActivity"
            android:label="Create Building"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alex.assignment5.MainMenuActivity" />
        </activity>

        <activity
            android:name=".ActionMenuActivity"
            android:label="Action Menu"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alex.assignment5.MainMenuActivity" />
        </activity>

        <activity
            android:name=".PreferencesActivity"
            android:label="Preferences"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alex.assignment5.MainMenuActivity" />
        </activity>

        <activity
            android:name=".ListUsersActivity"
            android:label="Users"
            android:parentActivityName=".ActionMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alex.assignment5.ActionMenuActivity" />
        </activity>

        <activity
            android:name=".ListSensorsActivity"
            android:label="Sensors"
            android:parentActivityName=".ActionMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alex.assignment5.ActionMenuActivity" />
        </activity>

        <activity
            android:name=".ListRobotsActivity"
            android:label="Robots"
            android:parentActivityName=".ActionMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alex.assignment5.ActionMenuActivity" />
        </activity>
    </application>

</manifest>
